<%- include ('../../partials/head.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<body>
  <div class="container">
    <h2>Artigos</h2>
    <a  href="/admin/articles/new" class="btn btn-success" >Criar novo artigo</a>
    <hr>
    <table class="table table-bordered" >
      <thead>
        <tr>
          <th>ID</th>
          <th>Titulo</th>
          <th>Slug</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
       <% articles.forEach(articles => {%>
        <tr>
          <th><%= articles.id %></th>
          <th><%= articles.title %></th>
          <th><%= articles.slug %></th>
          <th><%= articles.category.title %></th>
          <th>
            <a href="/admin/articles/edit/<%= articles.id%>" class="btn btn-warning">Editar</a>
            <form method="POST" action="/articles/delete" style="display: inline;" onsubmit="confirmDel(event, this)" >
              <input type="hidden" name="id" value="<%= articles.id %>">
              <button class="btn btn-danger">Deletar</button>
            </form>
          </th>
        </tr>
       <%})%>
      </tbody>
    </table>
  </div>
</body>
<script>
  function confirmDel(event, form){
    event.preventDefault();
    const decision = confirm('Deseja ralmente deletar esse artigo');
    if(decision){
      form.submit();
    }
  }
</script>
<%- include ('../../partials/script.ejs') %>
